/* Navbar */

/* Hamburger button */

.hamburger {
    position: relative;
    width: 22px;
    height: 12px;
    top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 50;
    border: none;
    outline: none;
    background: none;
}

.hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--darkBlueColor);
    transition: all 0.4s ease;
    transform-origin: center;
}


/* Animate to X */

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 3px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.desktop-navbar {
    gap: 100px;
    margin: 43px 128px;
}


/* Mobile menu */

.desktop-navbar {
    margin: 0;
}


/* .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
    transition: left 0.3s ease-in-out;
    z-index: 40;
    
} */

.mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    transition: all 0.4s ease;
    background-color: var(--white);
}

.mobile-menu a {
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: background-color 0.2s;
}

.mobile-menu a:hover {
    background-color: #374151;
}

.mobile-menu.open {
    left: 0;
}

.desktop-logo {
    display: none;
}

/* Home Page */

.custom-container {
    margin: 0px 27px 0 25px;
    padding: 30px 0 20px 0;
}

.info-cards {
    padding-top: 57px;
}

.info-cards h1 {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}

.info-cards img {
    width: 100%;
    max-width: 100%;
}

.info-card-text,
.invested-projects-title {
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
    text-align: center;
}

.info-cards .card-p {
    line-height: 139%;
    margin: 20px 0 31px 0;
}

.marquee-wrapper {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.marquee-content {
    display: flex;
    align-items: center;
    gap: 40px;
    animation: marquee 13s linear infinite;
}

.marquee-content img {
    width: 120px;
    height: auto;
    flex-shrink: 0;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-247%);
    }
}

/* Footer */
footer {
    background: var(--darkBlueColor);

}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.footer-content a {
    color: var(--white);
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer-link {
    display: flex;
    justify-content: space-between;
    gap: 38px;
}



@media (min-width:425px) {
    .marquee-content {
        animation: marquee 13s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-150%);
        }
    }

}

@media (min-width:575px) {
    .marquee-content {
        animation: marquee 13s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-130%);
        }
    }

}

@media (min-width:650px) {
    .marquee-content {
        animation: marquee 13s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-120%);
        }
    }

}

@media (min-width:700px) {
    .marquee-content {
        animation: marquee 12s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-110%);
        }
    }

}





@media (min-width:768px) {
    .mobile-nav {
        display: none;
    }

    .desktop-logo {
        display: flex;
    }

    .desktop-navbar {
        margin: 43px 128px;
    }

    /* Marquee Invested Companies */
    .marquee-content {
        animation: marquee 12s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}


@media (min-width:800px) {
    .marquee-content {
        animation: marquee 12s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-87.5%);
        }
    }
}


@media (min-width:991px) {
    .marquee-content {
        animation: marquee 15s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-80%);
        }
    }
}

.mySwiper {
    margin-top: 200px;
}

.sample-div img {
    clip-path: polygon(36% 0, 100% 0%, 100% 100%, 0% 100%);
}

.header img {
    width: 100px;
}