/* Navbar */

/* Hamburger button */

.hamburger {
    position: relative;
    width: 22px;
    height: 12px;
    top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 50;
    border: none;
    outline: none;
    background: none;
}

.hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--darkBlueColor);
    transition: all 0.4s ease;
    transform-origin: center;
}


/* Animate to X */

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 3px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.desktop-navbar {
    gap: 100px;
    margin: 43px 128px;
}


/* Mobile menu */

.desktop-navbar {
    margin: 0;
}


/* .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
    transition: left 0.3s ease-in-out;
    z-index: 40;
    
} */

.mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    transition: all 0.4s ease;
    background-color: var(--white);
}

.mobile-menu a {
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: background-color 0.2s;
}

.mobile-menu a:hover {
    background-color: #374151;
}

.mobile-menu.open {
    left: 0;
}

.desktop-logo {
    display: none;
}

/* Home Page */

.custom-container {
    margin: 0px 27px 0 25px;
    padding: 30px 0 20px 0;
}

.info-cards {
    padding-top: 57px;
}

.info-cards.card-one .solutions-image,
.info-cards.card-two .solutions-image,
.info-cards.card-third .solutions-image,
.info-cards.card-fifth .solutions-image,
.info-cards.card-sixth .solutions-image {
    display: none;
}

.info-cards h1 {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}

.info-cards img {
    width: 100%;
    max-width: 100%;
}

.info-card-text,
.invested-projects-title {
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
    text-align: center;
}

.info-cards .card-p {
    line-height: 139%;
    margin: 20px 0 31px 0;
}

.info-cards.card-fourth .info-card-img {
    display: none;
}

.marquee-wrapper {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.marquee-content {
    display: flex;
    align-items: center;
    gap: 40px;
    animation: marquee 13s linear infinite;
}

.marquee-content img {
    width: 120px;
    height: auto;
    flex-shrink: 0;
}

/* CTA Banner*/
.cta-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
    text-align: center;
}

.cta-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.cta-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.9);
}

/* Buttons */
.cta-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}





.cta-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px;
    color: white;
    position: relative;
}

.investorBanner {
    background: linear-gradient(135deg, var(--lighBlueColor), var(--darkBlueColor));
}

/* .cta-banner {
        background: linear-gradient(135deg, var(--lighBlueColor), var(--darkBlueColor));
        /* background: linear-gradient(135deg, var(--lighBlueColor), var(--green)); */
/* background: linear-gradient(135deg, var(--darkBlueColor), var(--red)); */
/* background: linear-gradient(135deg, var(--darkBlueText), var(--darkBlueColor)); */
.contactBanner {
    flex-direction: row-reverse;
    background: linear-gradient(135deg, var(--darkBlueText), var(--darkBlueColor));
}


.cta-graphic {
    display: none;
}



@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-247%);
    }
}



/* Team Page */

.team-cards {
    margin-bottom: 200px;
}

.team-card {
    gap: 96px;
    max-width: 1100px;
    margin: 0 auto;
}

.member-profile {
    display: flex;
    margin: 139px 195px 70px 128px;
    gap: 64px;
}

.member-name {
    color: var(--black);
    padding: 6px 0 8px 0;
}

.member-info h3 {
    color: var(--black);
    width: 101%;
}

.member-info p {
    color: var(--lightBlack);
}

.member-profile p {
    color: var(--lightBlack);
}

/* Footer */
footer {
    background: var(--darkBlueColor);

}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.footer-logo {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--white);
}

.footer-logo img {
    width: 150px;
    filter: brightness(0.5) invert(1);
}

.footer-content a,
p {
    color: var(--white);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.footer-link {
    display: flex;
    justify-content: space-between;
    gap: 38px;
}

.footer-link ul li {
    padding-bottom: 5px;
}

.footer-copyright p {
    font-size: 14px;
    text-align: center;
}


@media (min-width:425px) {
    .marquee-content {
        animation: marquee 13s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-150%);
        }
    }

}

@media (min-width:575px) {
    .marquee-content {
        animation: marquee 13s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-130%);
        }
    }

    /* CTA Banner */
    .cta-banner {
        padding: 80px 60px;
    }

    .cta-content {
        text-align: left;
    }

    .cta-buttons {
        justify-content: flex-start;
    }

    /* Graphic Side */
    .cta-graphic {
        width: 50%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle-layer {
        position: absolute;
        border-radius: 50%;
        background: var(--bannerGray);
        box-shadow: 0 0 20px var(--bannerShadow);
        animation: pulse 4s infinite ease-in-out;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /* Investor Banner Circles */
    .investorBanner .circle-1 {
        width: 380px;
        height: 380px;
        left: 107%;

    }

    .investorBanner .circle-2 {
        width: 280px;
        height: 280px;
        left: 108%;
    }

    .investorBanner .circle-3 {
        width: 180px;
        height: 180px;
        left: 109%;
    }

    .investorBanner .circle-4 {
        width: 70px;
        height: 70px;
        left: 109%;
    }

    /* Contact Banner Circles */
    .contactBanner .circle-layer {
        top: 50%;
        transform: translate(0%, -50%);
        animation: pulse 4s infinite ease-in-out;

    }

    .contactBanner .circle-1 {
        width: 380px;
        height: 380px;
        left: 66%;
    }

    .contactBanner .circle-2 {
        width: 227px;
        height: 227px;
        left: 29%;
    }

    .contactBanner .circle-3 {
        width: 180px;
        height: 180px;
        left: 7%;
    }

    .contactBanner .circle-4 {
        width: 70px;
        height: 70px;
        left: -7%;
    }


    @keyframes pulse {

        0%,
        100% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0.6;
            box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
        }

        50% {
            transform: translate(-50%, -50%) scale(1.01);
            opacity: 1;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
        }
    }

    .footer-links {
        justify-content: space-around;
    }

}

@media (min-width:575px) and (max-width:991px) {
    .info-cards .info-card-img {
        aspect-ratio: 5 / 2;
        object-fit: cover;
    }



}

@media (min-width:650px) {
    .marquee-content {
        animation: marquee 13s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-120%);
        }
    }

}

@media (min-width:700px) {
    .marquee-content {
        animation: marquee 12s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-110%);
        }
    }

}





@media (min-width:768px) {
    .desktop-logo img {
        width: 150px;
    }

    .header--scrolled {
        background-color: var(--white);
        color: var(--black);
    }

    .header--default {
        background-color: transparent;
        color: var(--white);
    }

    .mobile-nav {
        display: none;
    }

    .desktop-logo {
        display: flex;
    }

    .desktop-navbar {
        margin: 18px 40px;
    }

    /* Marquee Invested Companies */
    .marquee-content {
        animation: marquee 12s linear infinite;
    }

    /* infoCards */
    .info-cards.card-one {
        padding-top: 85px;
    }

    .footer-content {
        justify-content: space-around;
        /* flex-direction: row; */
        flex-direction: column;
    }

    .footer-upper {
        display: flex;
        justify-content: space-around;
    }

    .footer-logo {
        border: none;
        padding-bottom: 0;
    }

    .footer-links {
        padding-top: 0;
        width: 50%;
        justify-content: space-between;
    }


    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}


@media (min-width:800px) {
    .marquee-content {
        animation: marquee 12s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-87.5%);
        }
    }
}


@media (min-width:991px) {

    /* Header */
    .desktop-navbar {
        margin: 43px 40px;
    }

    /* infoCards */

    .info-cards.card-one {
        padding-top: 0;
        display: flex;
        flex-direction: row-reverse;
    }

    .info-cards.card-one .solutions-image,
    .info-cards.card-two .solutions-image,
    .info-cards.card-third .solutions-image,
    .info-cards.card-fifth .solutions-image,
    .info-cards.card-sixth .solutions-image {
        display: none;
    }

    .info-cards.card-two,
    .info-cards.card-third,
    .info-cards.card-fifth,
    .info-cards.card-sixth {
        padding-top: 0;
    }

    .info-cards h1 {
        font-size: 27px;
    }

    .info-cards.card-p {
        font-size: 18px;
    }

    .info-card-text {
        margin: 0 0 0 41px;
        text-align: left;
        padding-top: 190px;
    }

    .info-card-text h1 {
        text-align: left;
    }

    .info-cards.card-one img {
        clip-path: polygon(28% 0, 104% 0%, 100% 100%, 0% 99%);
        width: 58%;
        margin-top: -58px;
    }

    /* Infocard-two */
    .info-cards.card-two {
        display: flex;
        flex-direction: row;
    }

    .info-cards.card-two img {
        clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);
        width: 41%;
        margin-top: -6px;
    }

    .info-cards.card-two .info-card-text {
        margin: 0 0 0 96px;
        text-align: left;
        padding: 121px 111px 0 0;
        max-width: 540px;
    }

    .info-cards.card-two .info-cards .card-p {
        line-height: 139%;
        margin: 20px 74px 0 0;
        /* max-width: 337px; */
    }

    /* Infocard-three */

    .info-cards.card-third {
        display: flex;
        flex-direction: row-reverse;
    }

    .info-cards.card-third img {
        clip-path: polygon(25% 0%, 100% 0%, 103% 100%, 0% 100%);
        width: 56%;
    }

    /* Invested Projects */
    .invested-projects {
        margin-top: 60px;
    }

    /* InfoCard - fourth */
    .info-cards.card-fourth {
        display: flex;
        flex-direction: column-reverse;

    }

    .info-cards.card-fourth h1 {
        text-align: center;
    }

    .info-cards.card-fourth .card-p {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
    }

    .info-cards.card-fourth .solutions-image {
        width: 100%;
        max-width: 920px;
        margin: 0 auto;
    }

    /* Infocard - fifth  */
    .info-cards.card-fifth {
        display: flex;
        flex-direction: row;
    }

    .info-cards.card-fifth img {
        clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
        width: 41%;
        margin-top: 39px;
    }

    .info-cards.card-fifth .info-card-text {
        margin: 0 0 0 96px;

        padding: 121px 111px 0 0;
        max-width: 540px;
    }

    .info-cards.card-fifth h1,
    .info-cards.card-sixth h1 {
        text-align: center;
    }

    .info-cards.card-fifth .card-p {
        text-align: center;
        line-height: 139%;
        /* margin: 20px 74px 0 0; */
        /* max-width: 337px; */
    }

    /* Infocard - sixth */


    .info-cards.card-sixth {
        display: flex;
        flex-direction: row-reverse;
    }

    .info-cards.card-sixth img {
        clip-path: polygon(26% 0%, 100% 0%, 103% 100%, 0% 111%);
        width: 56%;
    }

    .info-cards.card-sixth .info-card-text {
        text-align: left;
        padding-top: 190px;
        width: 38%;
    }

    .info-cards.card-sixth .card-p {
        line-height: 139%;
        margin: 20px 0 31px 0;
        max-width: 295px;
        width: 100%;
    }

    /* Invested Companies */
    .marquee-content {
        animation: marquee 15s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-80%);
        }
    }

    /* CTA Banner */

    .cta-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 2;
    }

    .cta-content h2 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #fff;
    }

    .cta-content p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: rgba(255, 255, 255, 0.9);
    }




    .cta-banner {

        padding: 80px 60px;

    }

    /* .cta-banner {
        background: linear-gradient(135deg, var(--lighBlueColor), var(--darkBlueColor));
        /* background: linear-gradient(135deg, var(--lighBlueColor), var(--green)); */
    /* background: linear-gradient(135deg, var(--darkBlueColor), var(--red)); */
    /* background: linear-gradient(135deg, var(--darkBlueText), var(--darkBlueColor)); */


    /* Graphic Side */
    .cta-graphic {
        width: 50%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle-layer {
        position: absolute;
        border-radius: 50%;
        background: var(--bannerGray);
        box-shadow: 0 0 20px var(--bannerShadow);
        animation: pulse 4s infinite ease-in-out;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /* Investor Banner Circles */
    .investorBanner .circle-1 {
        width: 380px;
        height: 380px;
        left: 107%;

    }

    .investorBanner .circle-2 {
        width: 280px;
        height: 280px;
        left: 108%;
    }

    .investorBanner .circle-3 {
        width: 180px;
        height: 180px;
        left: 109%;
    }

    .investorBanner .circle-4 {
        width: 70px;
        height: 70px;
        left: 109%;
    }

    /* Contact Banner Circles */
    .contactBanner .circle-layer {
        top: 50%;
        transform: translate(0%, -50%);
        animation: pulse 4s infinite ease-in-out;

    }

    .contactBanner .circle-1 {
        width: 380px;
        height: 380px;
        left: 66%;
    }

    .contactBanner .circle-2 {
        width: 227px;
        height: 227px;
        left: 29%;
    }

    .contactBanner .circle-3 {
        width: 180px;
        height: 180px;
        left: 7%;
    }

    .contactBanner .circle-4 {
        width: 70px;
        height: 70px;
        left: -7%;
    }


    @keyframes pulse {

        0%,
        100% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0.6;
            box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
        }

        50% {
            transform: translate(-50%, -50%) scale(1.01);
            opacity: 1;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
        }
    }
}


@media (min-width:1200px) {

    /* Header */
    .desktop-navbar {
        margin: 43px 128px;
    }

    /* info Cards */
    .info-card-text h1 {
        text-align: left;
        max-width: 400px;
    }

    .info-card-text {
        margin: 0 0 0 128px;
    }

    .info-cards .card-p {

        max-width: 500px;
    }

}